# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

_api

*-demo.vue

.api
.vercel

__pycache__

corpus/*.json
corpus/en_corpus.json
corpus/zh_corpus.json

src/public/fonts/subsets/*.ttf
src/public/fonts/subsets/*.woff
src/public/fonts/subsets/*.woff2
